{{#each item}}
	<article>
		<div>
			<a class="link" href="/issues/{{id}}">
				<h2> {{owner.login}}</h2>
			 </a>
			 <p> Repo name: {{name}}</p>
			 <p> Open issues: {{open_issues_count}} </p>
		</div>
		<picture>
			<source srcset="../img/webp/{{@index}}.webp" type="image/webp">
			<source srcset="../img/img_optim/{{imgCheck}}" type="image/jpeg">
			<img src="../img/img_optim/{{imgCheck}}" alt="Alt Text!">
		</picture>
	 </article>
{{/each}}
